<div class="page-header">
  <h1>こんにちは<%= @current_user.name  %>先生</h1>
</div>

<div style="text-align:center;">
  <div class="list-group">
    <a href="/users/" class="list-group-item ">
      <h4 class="list-group-item-heading"> 生徒情報一覧 </h4>
    </a>
    <a href="/lessons/" class="list-group-item">
      <h4 class="list-group-item-heading"> レッスン一覧 </h4>
    </a>
    <a href="/users/new/" class="list-group-item">
      <h4 class="list-group-item-heading"> USER情報新規作成 </h4>
    </a>
    <a href="/reservations/" class="list-group-item">
      <h4 class="list-group-item-heading"> 生徒予約情報一覧 </h4>
    </a>
  </div>
</div>
